<style>
	.adPos_dialog_del_img.warn{
		background-image: url(./image/dvEvn/adPos_dialog_del_bg_warn.png);
		background-repeat: no-repeat;
		width: 128px;
		height: 132px;
		position: absolute;
		left: 48px;
		top: 65px;
	}
</style>
<div class="panel_dialog">
	<div class="panel_dialog_title">
		<div id="utils_dialog_info_title" class="panel_dialog_title_text">
			{{SUCAITEMPLATE_ZHUYI}}
		</div>
		<div class="panel_dialog_close popup_dialog_clear_">

		</div>
	</div>
	<div class="adPos_dialog_del_img warn">

	</div>
	<div id="utils_dialog_info_msg" class="adPos_dialog_del_confirm_info" style="font-size: 16px;font-family:微软雅黑;color:rgb(150,154,176)">

	</div>

	<div class="panel_dialog_cancel popup_dialog_clear_">
		{{UTILS_DIALOG_CANCEL}}
	</div>
	<div id="utils_dialog_info_submit" class="panel_dialog_submit">
		{{UTILS_DIALOG_SUBMIT}}
	</div>
</div>