/* 文本详情页css */
.text_audit {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*display: none;*/
    background-color: #fff;
    z-index: 99;
    cursor: default;
}
.text_audit .title_head {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    display: flex;
    background-color: #e8eeef;
}
.text_audit .title_head .title {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 14px;
    color: #434343;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text_audit .title_head .middle {
    flex: 1;
}
.text_audit .title_head .right {
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding-top: 2px;
}
.text_audit .title_head .right .btn {
    width: 60px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #b4b6b6;
    border-radius: 5px;
    background-color: #efefef;
    color: #787878;
    cursor: pointer;
}
.text_audit .title_head .right .btn.icon {
    width: 70px;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background-image: url('../../../image/particular/icon_close.png');
    background-size: 14px;
    background-position: 8px center;
    background-repeat: no-repeat;
    font-size: 14px;
}
.text_audit .container {
    padding: 0 20px 10px;
    background-color: #fff;
}
.text_audit .container .audit_result, .text_audit .container .result_detail {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    position: relative;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    display: flex;
}
.text_audit .audit_result .title, .text_audit .result_detail .title {
    width: 100px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    position: absolute;
    top: -13px;
    left: 30px;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    color: #434343;
}
.text_audit .audit_result .info {
    padding-top: 30px;
    margin-left: 18px;
    flex: 1;
    display: flex;
    font-size: 12px;
}
.text_audit .audit_result .info .info_message {
    flex: 1;
}
.text_audit .audit_result .info_message .content {
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: flex;
}
.text_audit .audit_result .info_message .content .label {
    width: 60px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    color: #666;
}
.text_audit .audit_result .info_message .message .label {
    vertical-align: top;
    position: relative;
    top: 20px;
}
.text_audit .audit_result .info_message .content .text {
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    display: inline-block;
}
.text_audit .audit_result .info_message .content .status {
    width: 240px;
    height: 30px;
    line-height: 30px;
}
.text_audit .audit_result .info_message .content .check_text {
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-left: 25px;
    padding-left: 40px;
    border-radius: 5px;
    background-image: url('../../../image/particular/icon_check_text.png');
    background-color: #44ccee;
    color: #fff;
    font-size: 14px;
}
.text_audit .audit_result .info_message .content .pass {
    color: #03d40d;
}
.text_audit .audit_result .info_message .content .block {
    color: #f80c0c;
}
.text_audit .audit_result .info_message .content .review {
    color: #777;
}
.text_audit .audit_result .info_message .content .description {
    /*width: 89%;*/
    flex: 1;
    height: 100px;
    margin-top: 20px;
    margin-right: 20px;
    color: #777;
}
.text_audit .audit_result .info .btn {
    width: 100px;
    padding-top: 65px;
    display: none;
}
.text_audit .audit_result .info .btn .pass, .text_audit .audit_result .info .btn .block {
    width: 40px;
    height: 35px;
    line-height: 35px;
    padding-left: 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
.text_audit .audit_result .info .btn .pass {
    background-color: #1de10e;
    background-image: url('../../../image/particular/icon_audit_pass.png');
}
.text_audit .audit_result .info .btn .block {
    margin-top: 15px;
    background-color: #f66755;
    background-image: url('../../../image/particular/icon_audit_block.png');
}
.text_audit .audit_result .info .icon {
    background-position: 8px center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.text_audit .result_detail .content {
    padding: 25px 0;
}
.text_audit .result_detail .content .list_table{
    margin-left: 20px;
}
.text_audit .result_detail .content #detail_table .detail_pass {
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../image/particular/icon_pass.png');
}
.text_audit .result_detail .content #detail_table .detail_block {
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../image/particular/icon_block.png');
}
.text_audit .result_detail .content #detail_table .detail_review {
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../image/particular/icon_review.png');
}
.text_audit .text_audit_content {
    margin-top: 15px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    overflow: hidden;
}
.text_audit .text_audit_content .header {
    height: 44px;
    padding: 0 10px;
    background-color: #fbfbfb;
    display: flex;
}
.text_audit .text_audit_content .header .select {
    height: 30px;
    line-height: 30px;
    margin-top: 6px;
    color: #777;
    border-radius: 20px;
}
.text_audit .text_audit_content .header .find_content {
    height: 30px;
    line-height: 30px;
    margin-top: 6px;
    margin-left: 30px;
    display: none;
    color: #666666;
    font-size: 14px;
}
.text_audit .text_audit_content .header .find_btns {
    height: 30px;
    line-height: 30px;
    margin-top: 6px;
    margin-left: 15px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    display: none;
    overflow: hidden;
}
.text_audit .text_audit_content .header .find_btns .find_prev {
    border-right: 1px solid #eaeaea;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../image/particular/icon_left.png');
}
.text_audit .text_audit_content .header .find_btns .find_next {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../image/particular/icon_right.png');
}
.text_audit .text_audit_content .header .find_btns .find_btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    cursor: pointer;
}
.text_audit .text_audit_content .header .find_btns .find_disabled {
    background-color: #ebebeb;
}
.text_audit .text_audit_content #recognition_select .select-header {
    border-radius: 15px;
}
.text_audit .text_audit_content #recognition_select .select-box ul {
    border-radius: 20px;
}
.text_audit .text_audit_content #recognition_select .select-header, .text_audit .text_audit_content #recognition_select .select-content li {
    padding: 0 10px;
}
.text_audit .text_audit_content #recognition_select .select-header .select-header-content {
    font-size: 12px;
    color: #777;
}
.text_audit .text_audit_content .header .middle {
    flex: 1;
}
.text_audit .text_audit_content .header .btn {
    width: 90px;
    height: 28px;
    line-height: 28px;
    margin-top: 6px;
    display: flex;
}
.text_audit .text_audit_content .header .btn .icon {
    width: 30px;
    height: 30px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #fff;
    cursor: pointer;
}
.text_audit .text_audit_content .header .btn .list {
    background-image: url('../../../image/particular/icon_list.png');
}
.text_audit .text_audit_content .header .btn .list_checked {
    background-color: #fe931f;
    background-image: url('../../../image/particular/icon_list_checked.png');
}
.text_audit .text_audit_content .header .btn .json {
    background-image: url('../../../image/particular/icon_json.png');
}
.text_audit .text_audit_content .header .btn .json_checked {
    background-color: #fe931f;
    background-image: url('../../../image/particular/icon_json_checked.png');
}
.text_audit .text_audit_content .header .btn .icon {
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.text_audit .text_audit_content .content {
    padding: 15px 0 35px 15px;
}
.text_audit .text_audit_content .content_list {
    height: 610px;
    color: #777;
    white-space: pre;
    font-size: 12px;
}
.text_audit .text_audit_content .content_json {
    height: 610px;
    color: #777;
    font-size: 14px;
}
.text_audit .text_audit_content .content_json pre {
    padding: 5px;
    margin: 5px;
}

/* JSON格式化 */

/* JSON格式化,不同类型格式加颜色 */
/* .text_audit .text_audit_content .content_json .string {
    color: green; 
}
.text_audit .text_audit_content .content_json .number {
    color: darkorange; 
}
.text_audit .text_audit_content .content_json .boolean {
    color: blue; 
}
.text_audit .text_audit_content .content_json .null {
    color: magenta; 
}
.text_audit .text_audit_content .content_json .key {
    color: red; 
} */

/* 更改styleable_list */
.text_audit .list_table .styleable_list_controls {
    display: none;
}
.text_audit .list_table .styleable_list_row .styleable_list_col {
    color: #777
}
.text_audit .list_table .styleable_list_title .styleable_list_col_tag {
    height: 36px;
    color: #747474;
    font-size: 12px;
    font-weight: normal;
}
/*alert_text_dialog*/
#audit_text_alert_dialog .body .content {
    height: 600px;
    padding-left: 25px;
    padding-right: 3px;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: #777;
    font-size: 12px;
}
/*alert_dialog*/
#audit_alert_dialog .row {
    height: 40px;
    margin-bottom: 10px;
}
#audit_alert_dialog .row.textarea {
    height: 100px;
}
#audit_alert_dialog .result {
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}
#audit_alert_dialog .result_pass {
    color: #03d40d;
}
#audit_alert_dialog .result_block {
    color: #f80c0c;
}
#audit_alert_dialog #audit_alert_dialog_textarea {
    width: 450px;
    height: 90px;
    padding: 5px  10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    outline: none;
}
#audit_alert_dialog .foot .btn {
    border: 0;
    box-shadow: none;
}
#audit_alert_dialog .foot .btn.cancle {
    background-color: #7dd8ef;
}
#audit_alert_dialog .foot .btn.set {
    background-color: #1ec3ec;
    background-image: url('../../../image/particular/icon_set.png');
}
/*匹配滚动条的样式*/
.mCustomScrollbar .mCustomScrollBox .mCSB_scrollTools {
    width: 10px;
}
.mCustomScrollbar .mCustomScrollBox.mCSB_inside > .mCSB_container {
    margin-right: 15px;
}
.mCustomScrollbar .mCustomScrollBox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 5px;
    border: 1px solid #c5c5c5;
    background-color: #fff;
}
.mCustomScrollbar .mCustomScrollBox .mCSB_scrollTools .mCSB_draggerRail {
    width: 4px;
    background-color: #ececec;
}
.text_audit .text_audit_content .content #text_audit_list .mCustomScrollBox.mCSB_inside > .mCSB_container {
    line-height: 30px;
    word-break: break-all;
    white-space: pre-wrap;
}
#audit_text_alert_dialog .body .content .mCustomScrollBox.mCSB_inside > .mCSB_container {
    line-height: 30px;
}

