.query_dialog_authoSingle._authmng_dialog.query_dialog {height: auto;}
.query_dialog_authoSingle .combo {width: 190px;}
.query_dialog_authoSingle .combo td{border: 1px solid #c6c6c6;background-color: #fff;}
.query_dialog_authoSingle .date_picker {width: 190px;}
.query_dialog_authoSingle ._dialog_foot ._btn {margin-left: 25px;}
.query_dialog_authoSingle #authoSingle_self_define {height: 26px;color: #2ea2d7;border-bottom: 1px solid #2ea2d7;border-top: 1px solid transparent;cursor: pointer;}
.query_dialog_authoSingle ._dialog_center {margin-top: 54px;}

.query_dialog_authoSingle.detail_dialog label {line-height: 37px;font-size: 14px;color: #727272;}
.query_dialog_authoSingle.detail_dialog ._dialog_body {-webkit-box-flex: 1;-ms-flex: 1;flex: 1;}
.query_dialog_authoSingle.detail_dialog ._dialog_row {padding: 0 8px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.query_dialog_authoSingle.detail_dialog ._dialog_row > * {margin: 0 22px;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;height: 30px;}
