#sysUser_sys-user-admin-user-list {
    bottom: 0;
    font-size: 14px;
    height: 615px;
    left: 6px;
    position: absolute;
    right: 6px;
    top: 8px
}
.tab_switch_unit{
	height:34px;
	line-height:34px;
	border: 1px solid #d1d1d1;
  color: #797979;
  font-size: 16px;
  font-weight: bold;
  width: 87px;
	width:104px;
	float: left;
	cursor:pointer
}
.tab_switch_unit_focus{
	 background-color: #aae7fb;
	 border: 1px solid #83e0ff;
   color: #ffffff
}
.sys-user-admin-page2-part2{
	height:calc(100% - 60px);
}
.sucai_list_search {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    float: left;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    outline: medium none;
    padding-left: 7px;
    vertical-align: middle;
    width: 195px;
		box-sizing: border-box
}
.sucai_list_search_botton_div {
    background: rgb(123, 183, 208) none repeat scroll 0 0;
    border: 1px solid #fff;
    color: white;
    cursor: pointer;
    float: left;
    height: 30px;
    left: -52px;
    line-height: 30px;
    margin-top: 2px;
    position: relative;
    text-align: center;
    width: 50px;
		box-sizing: border-box
}
.sys_user_admin_table>div{
	border-bottom:1px #e2e2e2 solid;
	width:100%;
	position:relative
}
.sys_user_admin_table>div:nth-child(2n-1)
{
  background-color:#fbfbfb;
}
.sys_user_admin_table>div:nth-child(2n)
{
  background-color:#ffffff;
}
.sys-user-admin-page2-part2-menu-tree-table>div:nth-child(2n){
	 
}
.sys_user_admin_surplus_ellipsis{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden   
}
.sys_user_admin_checkBox{
	width:10px;
	height:10px;
	border:1px #cbcbcb solid;
	cursor:pointer
}
.sys_user_admin_checkBox_son{
	width:8px;
	height:8px;
	margin:1px;
	background-color:#2ea2d7;
	visibility:hidden
}
.sys_user_admin_checkBox_text{
	color:#797979;
	width:auto
}
.user-admin-group-item {
    background-color: #5cb7e1;
    border-radius: 8px;
    color: #f7fbfd;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 14px;
    margin-top: 14px;
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
    vertical-align: middle;
}
.user-admin-group-del {
    background-image: url("../../images/users/user-group-del-ico.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 5px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    border-radius: 16px;
    height: 100%;
    margin: 0 auto;
    width: 5px;
		background-color:#e6eff2;
}
.mCSB_scrollTools {
    bottom: 0;
    height: auto;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #5391a6!important;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar:hover {
    background-color: #5391a6!important;
}