* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

.app {
	width: 1280px;
	height: 720px;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

/* #logBackground {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 440px;
	height: 440px;
	z-index: 10;
	background-color: #ccc;
	filter: alpha(opacity=30);
	opacity: 0.3;
} */

/* #log {
	position: absolute;
	height: 400px;
	top: 20px;
	right: 20px;
	width: 700px;
	z-index: 10;
	overflow: auto;
	color: rgb(253, 23, 23);
	font-size: 18px;
	word-break: break-all;
	white-space: pre-wrap;
	background-color: rgba(126, 126, 126, 0.3);
	opacity: 0.3;
} */